In [1]:
## Two useful properties of ordered categories:
  ## 1. You can sort the values in logical(not alphabetical) order
  ## 2. Comparison operators also work logically  
## See eg. below
import pandas as pd
from pandas.api.types import CategoricalDtype

In [2]:
df = pd.DataFrame({'ID':[100, 101, 102, 103],
                   'quality':['good', 'very good', 'good', 'excellent']})

In [3]:
## Create Ordered Category

cat_type = CategoricalDtype(['good', 'very good', 'excellent'], ordered=True)

In [4]:
df['quality'] = df.quality.astype(cat_type)

In [5]:
df.quality

0         good
1    very good
2         good
3    excellent
Name: quality, dtype: category
Categories (3, object): [good < very good < excellent]

In [6]:
## Sorting and Comparisons work logically
df.sort_values('quality')

    ID    quality
0  100       good
2  102       good
1  101  very good
3  103  excellent

In [7]:
df[df.quality > 'good']

    ID    quality
1  101  very good
3  103  excellent